#logo_itb {
    width: 80px;
}

.cabecera {
    display: flex;
    background: rgb(36, 36, 36);
    justify-content: space-between;
    align-items: center; 
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

.naveg {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: rgb(17, 17, 17);
    margin-right: 2px;
    padding: 20px 25px;
}

.naveg:hover{
    background: red;
    color: yellow;
}

.principal{
    background: gray;
    padding: 20px 150px;
}

.contenido {
    background-color: black;
    color: white;
    padding: 20px 50px;
    margin-bottom: 10px;
    text-align: center;
}

.servicios {
    background: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}

.personas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    background: red;
    width: 150px;
    height: 200px;
    margin: 0px 20px;
}

#luis {
    background: url(../img/person1.jpg);
    background-size: cover;
    background-position: center;
}

#monica {
    background: url(../img/person2.avif);
    background-size: cover;
    background-position: center;
}

#carla {
    background: url(../img/person3.avif);
    background-size: cover;
    background-position: center;
}

.productos{
    height: 250px;
    background: url(../img/producto.jpg);
    background-size: cover;
    background-attachment: fixed;
}